.git
.github
.gitattributes
.editorconfig
.idea
.vscode
.DS_Store

node_modules
vendor
public/build
public/hot

.env
.env.backup
.env.production
auth.json

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

.phpunit.cache
.phpunit.result.cache
tests
Homestead.json
Homestead.yaml
